{% extends 'base.html' %}
{% load static %}


{% block header %}
 <!-- dropzone css -->
 <link rel="stylesheet" href="{% static 'assets/libs/dropzone/dropzone.css' %}" type="text/css" />

 <!-- Filepond css -->
 <link rel="stylesheet" href="{% static 'assets/libs/filepond/filepond.min.css' %}" type="text/css" />
 <link rel="stylesheet" href="{% static 'assets/libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.css' %}">
 

{% endblock %}

{% block content %}

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Institute Profile</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">General Settings</a></li>
                                        <li class="breadcrumb-item active">Institute</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-xl-3">
                                   
                                    

                                    
                                    <!--end card-->
                                </div> <!-- end col-->

                                <div class="col-xl-12">
                                    

                                    <div class="card">
                                        <div class="card-header align-items-center d-flex">
                                            <h4 class="card-title mb-0 flex-grow-1">Institute Form</h4>
                                            <div class="flex-shrink-0">
                                                <div class="form-check form-switch form-switch-right form-switch-md">
                                                </div>
                                            </div>
                                        </div><!-- end card header -->
                                        <div class="card-body">
                                            <div class="live-preview">
                                                <form method="post" action="{% url 'myapp:createInstituteProfile' %}" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    {% if form.errors %}
                                                        <div class="alert alert-danger">
                                                            <strong>Error:</strong> Please correct the errors below.
                                                            <ul>
                                                                {% for field, errors in form.errors.items %}
                                                                    {% for error in errors %}
                                                                        <li>{{ error }}</li>
                                                                    {% endfor %}
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    {% endif %}
                                                    <div class="row mb-3">
                                                        <div class="col-lg-3">
                                                            <label for="Picture"   class="form-label">Picutre</label>
                                                        </div>
                                                        <div class="col-lg-9">
                                                            <div class="card">
                        
                                                                <div class="card-body">
                                                                  
                                                                    <div class="avatar-xl mx-auto">
                                                                        {% if context.logo %}
                                                                            <img id="imagePreview" src="{{ form.instance.logo.url }}" alt="Current Image" class="img-thumbnail">
                                                                        {% else %}
                                                                            <img id="imagePreview" src="#" alt="No Image" class="img-thumbnail" style="display: none;">
                                                                        {% endif %}
                                                                        <input type="file" name="logo" id="Picture" class="form-control filepond filepond-input-circle" name="filepond" accept="image/png, image/jpeg, image/gif" />
                                                                    </div>
                        
                                                                </div>
                                                                <!-- end card body -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <div class="col-lg-3">
                                                            <label for="name" class="form-label">Name</label>
                                                           
                                                        </div>
                                                        <div class="col-lg-9">      
                                                            <input type="text" name="name" class="form-control" id="name" placeholder="{% if context.name %}{{ context.name }}{% else %}Enter your name{% endif %}"                                                            >
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <div class="col-lg-3">
                                                            <label for="target_line" class="form-label">Target Line</label>
                                                        </div>
                                                        <div class="col-lg-9">
                                                            <input type="text" name="target_line" class="form-control" id="target_line" placeholder="{% if context.target_line %}{{ context.target_line }}{% else %}Enter your Target Line{% endif %}">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <div class="col-lg-3">
                                                            <label for="website_url" class="form-label">Website URL</label>
                                                        </div>
                                                        <div class="col-lg-9">
                                                            <input type="url" class="form-control" name="website_url" id="website_url"  placeholder="{% if context.website_url %}{{ context.website_url }}{% else %}Enter your url{% endif %}">
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="row mb-3">
                                                        <div class="col-lg-3">
                                                            <label for="leaveemails" class="form-label">Email Id</label>
                                                        </div>
                                                        <div class="col-lg-9">
                                                            <input type="email"  id="leaveemails" placeholder="{{ request.user.email }}" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <div class="col-lg-3">
                                                            <label for="phone_number" class="form-label">Contact Number</label>
                                                        </div>
                                                        <div class="col-lg-9">
                                                            <input type="number" name="phone_number" class="form-control" id="phone_number" required placeholder="{% if context.phone_number %}{{ context.phone_number }}{% else %}+91 9876543210{% endif %}">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <div class="col-lg-3">
                                                            <label for="address" class="form-label">Address</label>
                                                        </div>
                                                        <div class="col-lg-9">
                                                            <input type="text" name="address" class="form-control" id="address" placeholder="{% if context.address %}{{ context.address }}{% else %}Enter your Address{% endif %}">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <div class="col-lg-3">
                                                            <label for="country" class="form-label">Country</label>
                                                        </div>
                                                        <div class="col-lg-9">
                                                            <div class="form-floating">
                                                                <select class="form-control" name="country" id="country" aria-label="Floating label select example">
                                                                    
                                                                    {% if context.country %}
                                                                    <option selected>{{ context.country }}</option>
                                                                    {% else %}
                                                                    <option selected>Choose...</option>
                                                                    {% endif %}
                                                                        
                                                                    
                                                                    <option value="US">USA</option>
                                                                    <option value="BR">Brazil</option>
                                                                    <option value="FR">France</option>
                                                                    <option value="DE">Germany</option>
                                                                </select>
                                                                <label for="floatingSelect">Country</label>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="text-center">
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="d-none code-view">
                                                
                                            </div>
                                        </div>
                                    </div>


                                </div><!-- end col -->
                            </div>
                            <!--end row-->

                            <div style='clear:both'></div>


    

{% endblock %}
{% block javascript %}
<!-- dropzone min --> 
<script src="{% static 'assets/libs/dropzone/dropzone-min.js' %}"></script>
<!-- filepond js -->
<script src="{% static 'assets/libs/filepond/filepond.min.js' %}"></script>
<script src="{% static 'assets/libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.js' %}"></script>
<script src="{% static 'assets/libs/filepond-plugin-file-validate-size/filepond-plugin-file-validate-size.min.js' %}"></script>
<script src="{% static 'assets/libs/filepond-plugin-image-exif-orientation/filepond-plugin-image-exif-orientation.min.js' %}"></script>
<script src="{% static 'assets/libs/filepond-plugin-file-encode/filepond-plugin-file-encode.min.js' %}"></script>

<script src="{% static 'assets/js/pages/form-file-upload.init.js' %}"></script>

<script src="{% static 'assets/js/app.js' %}"></script>

{% endblock %}
